@model List<LastFmTrack>

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/indexStyle.css" />
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <button onclick="loadMore()" class="add-song-btn">Add More Song</button>
}
<div class="btn-container">
    <a href="@Url.Action("ViewPlaylist", "Home", new { playlistId = 1 })" class="btn btn-transparent">Sample Playlist</a>
</div>

<div class="text-center">

    <h1 class="display-8">Good afternoon</h1>
  

    <form method="get">
        <div class="form-group">
            <label for="searchTerm">Search:</label>
            <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="Enter your search term" />
            <button type="submit" id="searchButton" class="btn btn-secondary">Search</button>
        </div>
    </form>




    
    
    @section Scripts {
        <script src="~/js/HomeIndex.js" type="text/javascript"></script>
    }

 



    @if (!string.IsNullOrEmpty(Context.Request.Query["searchTerm"]))
    {
        <h2>Search Results for "@Context.Request.Query["searchTerm"]"</h2>
    }


  
    @if (Model != null && Model.Any())
    {
        <div class="song-container">

            @foreach (var track in Model)
            {

                @if (string.IsNullOrEmpty(Context.Request.Query["searchTerm"]) ||
               track.Name.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase) ||
               track.Artist.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase))

                {

                    <div class="song-card">
                        <img src="@track.ImageUrl" alt="Cover Image (Large)" />
                        <h3>@track.Name</h3>
                        <p>@track.Artist</p>
                        <a href="@track.Url" target="_blank" class="play-button">&#9654;</a> 
                        <p>Genre: @track.Genres</p>
                 


                        <form method="post" asp-action="AddToPlaylist">
                            <input type="hidden" name="Id" value="@track.Id" />
                            <input type="hidden" name="Name" value="@track.Name" />
                            <input type="hidden" name="Artist" value="@track.Artist" />
                            <input type="hidden" name="Url" value="@track.Url" />
                            <input type="hidden" name="Genres" value="@track.Genres" />
                             <button type="submit" class="add-play-btn">Playliste Ekle</button>
                        </form>
                      

                      
                    </div>

                }
            }

        </div>
    }
    else
    {
        <p>No tracks available.</p>
    }
</div>
