@model List<LastFmTrack>



@section Styles {
    <link rel="stylesheet" href="~/css/indexStyle.css" />
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
    <button onclick="loadMore()" class="add-song-btn">@_localization.Getkey("AddMoreSong").Value</button>
}

@{
    bool isRejectedUser = User.IsInRole("Rejected User");
}
@if (isRejectedUser)
{
    <h1>@_localization.Getkey("RestrictedMessage").Value</h1>
    <p> @_localization.Getkey("RestrictedMessageContact").Value</p>

   


}
else
{
<div class="btn-container">
        <a href="@Url.Action("ViewPlaylist", "Home", new { playlistId = 1 })" class="btn btn-transparent">@_localization.Getkey("SamplePlayList").Value</a>
</div>

<div class="text-center">
    <h5 class="display-6">@_localization.Getkey("Welcome").Value</h5>
    
  

    <form method="get">
        <div class="form-group">
           
                <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder=@_localization.Getkey("SearchTermPlaceHolder").Value />
                <button type="submit" id="searchButton" class="btn btn-secondary">@_localization.Getkey("SearchBtn").Value</button>
        </div>
    </form>




    
    
    @section Scripts {
        <script src="~/js/HomeIndex.js" type="text/javascript"></script>
    }

 



    @if (!string.IsNullOrEmpty(Context.Request.Query["searchTerm"]))
    {
        <h2>Search Results for "@Context.Request.Query["searchTerm"]"</h2>
    }


  
    @if (Model != null && Model.Any())
    {
        <div class="song-container">

            @foreach (var track in Model)
            {

                @if (string.IsNullOrEmpty(Context.Request.Query["searchTerm"]) ||
               track.Name.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase) ||
               track.Artist.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase))

                {

                    <div class="song-card">
                        <img src="@track.ImageUrl" alt="Cover Image (Large)" />
                        <h3>@track.Name</h3>
                        <p>@track.Artist</p>
                        <a href="@track.Url" target="_blank" class="play-button">&#9654;</a> 
                        <p>Genre: @track.Genres</p>
                 


                        <form method="post" asp-action="AddToPlaylist">
                            <input type="hidden" name="Id" value="@track.Id" />
                            <input type="hidden" name="Name" value="@track.Name" />
                            <input type="hidden" name="Artist" value="@track.Artist" />
                            <input type="hidden" name="Url" value="@track.Url" />
                            <input type="hidden" name="Genres" value="@track.Genres" />
                                <button type="submit" class="add-play-btn">@_localization.Getkey("AddPlayList").Value</button>
                        </form>
                      

                      
                    </div>

                }
            }

        </div>
    }
    else
    {
            <p>@_localization.Getkey("NoTracksAvalible").Value</p>
    }
</div>
}