@model MusicLibraryApp.Models.Playlist
@section Styles {
    <link rel="stylesheet" href="~/css/playListStyles.css" />
}

<h1>@_localization.Getkey("YourPlaylist").Value</h1>
<form method="get">
    <div class="form-group">
        <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="@_localization.Getkey("SearchTermPlaceHolder").Value" />
        <button type="submit" id="searchButton" class="btn btn-primary">@_localization.Getkey("SearchBtn").Value</button>
    </div>
</form>

@if (Model.TrackDTOs.Any())
{
    <div class="song-container">
        @foreach (var trackDTO in Model.TrackDTOs)
        {
            @if (string.IsNullOrEmpty(Context.Request.Query["searchTerm"]) ||
           trackDTO.Name.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase) ||
           trackDTO.Artist.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase))
            {
                <div class="song-card">
                    <h3>@trackDTO.Name</h3>
                    <p>@trackDTO.Artist</p>
                    <a href="@trackDTO.Url" target="_blank" class="play-button">&#9654;</a>
                    <p>Genre: @trackDTO.Genres</p>

                    <form method="post" asp-action="RemoveFromPlayList">
                        <input type="hidden" name="Id" value="@trackDTO.Id" />
                        <input type="hidden" name="Name" value="@trackDTO.Name" />
                        <input type="hidden" name="Artist" value="@trackDTO.Artist" />
                        <input type="hidden" name="Url" value="@trackDTO.Url" />
                        <input type="hidden" name="Genres" value="@trackDTO.Genres" />
                        <button type="submit" class="playlist-button">@_localization.Getkey("RemoveFromPlaylist").Value</button>
                    </form>
                </div>
            }
            else
            {
                <p>@_localization.Getkey("CouldntFound").Value</p>
            }
        }
    </div>
}
else
{
    <p>@_localization.Getkey("NoTracksAvalible").Value</p>
}
