@model Playlist
@section Styles {
    <link rel="stylesheet" href="~/css/playListStyles.css" />
}

<h1>@_localization.Getkey("YourPlaylist").Value</h1>
<form method="get">
    <div class="form-group">
     
        <input type="text" name="searchTerm" id="searchTerm" class="form-control" placeholder="@_localization.Getkey("SearchTermPlaceHolder").Value" />
        <button type="submit" id="searchButton" class="btn btn-primary">@_localization.Getkey("SearchBtn").Value</button>
    </div>
</form>

@if (Model.Tracks.Any())
{
    <div class="song-container">
        @foreach (var track in Model.Tracks)
        {

            @if (string.IsNullOrEmpty(Context.Request.Query["searchTerm"]) ||
                             track.Name.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase) ||
                             track.Artist.Contains(Context.Request.Query["searchTerm"], StringComparison.OrdinalIgnoreCase))
            {
                <div class="song-card">
                    <h3>@track.Name</h3>
                <p>@track.Artist</p>
                <a href="@track.Url" target="_blank" class="play-button">&#9654;</a>
                    <p>Genre: @track.Genres</p>

                <form method="post" asp-action="RemoveFromPlayList">
                    <input type="hidden" name="Id" value="@track.Id" />
                    <input type="hidden" name="Name" value="@track.Name" />
                    <input type="hidden" name="Artist" value="@track.Artist" />
                    <input type="hidden" name="Url" value="@track.Url" />
                    <input type="hidden" name="Genres" value="@track.Genres" />
                        <button type="submit" class="playlist-button">@_localization.Getkey("RemoveFromPlaylist").Value</button>
                </form>
            </div>
            }
            else
            {
                <p>@_localization.Getkey("CouldntFound").Value</p>
            }
        }
    </div>
}
else
{
    <p>@_localization.Getkey("NoTracksAvalible").Value</p>
}
</div>