@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<style>
    body {
        background: linear-gradient(to bottom, #333333, #000000); /* Arka plan geçişli siyah tonları */
        color: black; 
    }

    #account {
        background-color: #000000; /* Giriş formu arkaplan rengi */
        border-radius: 10px;
        padding: 20px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .btn-primary {
        background-color: #1db954; /* Giriş butonu yeşil rengi */
        border-color: #1db954; /* Giriş butonu kenar rengi */
        border-radius: 30px;
    }

        .btn-primary:hover {
            background-color: #168f3a; /
            border-color: #168f3a; 
        }

    .form-check-input:checked {
        background-color: #1db954; 
        border-color: #1db954; 
    }

    ::placeholder {
        color: black; 
        opacity: 0.7; 
    }
</style>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2 style="color:white">@_localization.Getkey("RegisterText").Value</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="@_localization.Getkey("FirstNameRegister").Value" />
                <label asp-for="Input.FirstName">@_localization.Getkey("FirstNameRegister").Value</label>
              
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="@_localization.Getkey("LastNameRegister").Value" />
                <label asp-for="Input.LastName">@_localization.Getkey("LastNameRegister").Value</label>
               
            </div>
        </div>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="@_localization.Getkey("EmailRegister").Value" />
        <label asp-for="Input.Email">Email</label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@_localization.Getkey("PasswordRegister").Value" />
        <label asp-for="Input.Password">@_localization.Getkey("PasswordRegister").Value</label>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@_localization.Getkey("PasswordRegister").Value" />
        <label asp-for="Input.ConfirmPassword">@_localization.Getkey("ConfirmPasswordRegister").Value</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@_localization.Getkey("RegisterBtnRegister").Value</button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
